@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* -------------CORPO DA TELA------------- */
body {
  background-size: cover;
  background-position: center top 33%;
  font-family: "Poppins", sans-serif;
}
/* --------------------------------------- */

/* ---------------CABEÇALHO---------------- */
.container {
  background-color: #0b396e;
  display: flex;
  width: 100%;
  height: 15%;
  align-items: center;
}

.container img {
  width: 100px;
  height: 100px;
}

.container2 {
  display: flex;
}

h1 {
  padding-top: 5px;
  padding-left: 5px;
  text-align: right;
  color: white;
}
/* --------------------------------------- */

/* -------------TITULO CURSOS------------- */
.title {
  display: flex; /* Ativa o flexbox */
  align-items: center; /* Alinha os itens verticalmente ao centro */
}
.text-curso {
  font-size: 30px;
  padding: 10px;
  margin: 30px;
  display: flex; /* Ativa o flexbox */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  margin-left: 390px;
}
.course-image {
  width: 70px; /* Largura da imagem */
  height: 70px; /* Altura da imagem */
  margin-right: 20px; /* Espaçamento à direita para separar a imagem do título */
}
/* --------------------------------------- */

.black-square {
  width: 340px; 
  height: 510px; 
  background-color: #ffffff; 
  float: right;
  margin-right: 370px;
  box-shadow: 0px 0px 10px rgba(149, 141, 223, 0.4);
  border-radius: 12px;
  border: 1px solid rgb(228, 228, 228); 
  display: flex;
  padding: 20px;
  flex-direction: column;
  margin-top: 60px;
}
.black-square h2{
  font-size: 25px;
  color: #0b396e;

}
.black-square h3{
  font-size: 19px;
  margin-top: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;

}
/* -------------CARD CURSO---------------- */
.card-container {
  display: flex;
  align-items: center;
  margin-left: 220px;
  margin-right: 230px;
}

.card-curso {
  margin-right: 40px;
  margin-left: 400px;
  width: 690px;
  height: auto;
  overflow: hidden;
  
}

.card-curso img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.card-curso:hover img {
  transform: scale(1.1);
}

.card-curso h3 {
  font-size: 15px;
  text-align: left;
  color: rgb(0, 0, 0);
  margin: 10px;
  margin-top: 20px;
}
/* --------------------------------------- */
/* ---------------INCRIÇÃO---------------- */

.white-square {
  width: 340px; 
  height: 388px; 
  background-color: #ffffff; 
  float: right;
  margin-right: 350px;
  box-shadow: 0px 0px 10px rgba(149, 141, 223, 0.4);
  border-radius: 12px;
  border: 1px solid rgb(228, 228, 228); 
  display: flex;
  padding: 20px;
  flex-direction: column;
  margin-left: 62px;
}
/* MENSALIDADE */
.quadrado-pequeno {
  margin: auto;
  width: 66%;
  height: 85px;
  background-color: #d8e4f0;
  border-radius: 5px;

}
.quadrado-pequeno h2{
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
  color: #4a6580;
}
.quadrado-pequeno h3{
  margin-top: 14px;
  font-size: 15px;
  text-align: center;
  color: #4a6580;
}
/* MENSALIDADE */

.btn {
  padding: 18px 60px;
  background-color: rgb(226, 123, 4);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 15px;
  transition: transform 0.5s ease;
}
.btn:hover{
  background-color: rgb(189, 104, 7);

}

.horario img {
  width: 25px;
  height: 27px;
  vertical-align: bottom;
  margin: 2px;
  margin-top: 14px;
}
.horario h2 span{
  font-size: 17px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.horario h2 {
  font-size: 19px;
}

/* --------------------------------------- */
/* --------------INFORMAÇÕES-------------- */
.two-square {
  background-color: #ffffff; 
  box-shadow: 0px 0px 10px rgba(149, 141, 223, 0.4);
  border-radius: 12px;
  border: 1px solid rgb(228, 228, 228); 
  display: flex;
  padding: 20px;
  margin-top: 30px;
  max-width: 690px;
  max-height: 300px;
  margin-left: 400px;
}

.two-square h2{
  font-size: 20px;
 
}
 .infos h2{
  font-size: 22px;
  color: #0b396e;
  margin-top: 5px;
}
 .infos h3{
  font-size: 19px;
  margin-top: 10px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
 .line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(100% - 400px);
  border-bottom: 1.5px solid #bebebe;
  margin-left: 400px;
}

/* --------------------------------------- */
/* ----------------POP UP----------------- */
.popup-content label {
  font-size: 20px;
  margin-left: 23px;
}

.popup-content input[type="text"],
.popup-content input[type="date"],
.popup-content input[type="email"],
.popup-content input[type="tel"] {
  width: 90%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0 auto; 
  display: block;
  margin-top: 5px;
}

.popup-content input[type="submit"] {
  background-color: rgb(216, 116, 3);
  color: rgb(255, 255, 255);
  border: none;
  padding: 15px 40px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  margin: 0 auto; 
  display: block;
}
.popup-content h2{
  font-size: 35px;
  margin-left: 23px;
  margin-bottom: 10px;
}

.popup-content input[type="submit"]:hover {
  background-color: rgb(189, 104, 7);
}
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 700%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 600px;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(149, 141, 223, 0.4);
  font-size: 20px;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 20px;
  color: #999;
}
.popup label {
  width: 200px;
}
/* --------------------------------------- */
/* --------------- FONTE ----------------- */
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
/* --------------------------------------- */
/* ------------- FOOTER ------------------ */
footer {
  background-color: #0b396e; 
  color: white; 
  padding: 20px 0;
  text-align: center; 
}

.footer-content {
  margin: 0 auto;
  color: #ffffff;
  margin: 10px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 17px;
  margin-left: 700px;
  background-color: #0b396e; 
}
.container-footer {
  background-color: #0b396e;
  display: flex;
  width: 100%;
  height: 15%;
  align-items: center;
  margin-top: 60px;
}
/* --------------------------------------- */