body {
    background-image: url("../images/fundo.jpg");
    background-size: cover;
    background-position: center top 33%;
}

.container {
    background-color: #0b396e;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    text-align: left;
    display: flex;
    height: 15%;
    align-items: center;
}

.container img {
width: 100px;
height: 100px;
}

h1 {
    padding-top: 5px;
    padding-left: 5px;
    text-align: right;
    color: white;
}


